.overlay-cart {
    width: 40%;
}

body {
    width: 80%;
    margin: 0 auto;
}

.fa-times {
    color:red;
}

.add-item-button, .add-parcel-button, .submit-order-button {
    display: block;
    margin: 5px auto;
}

#parcel-registration {
    display: none;
}

#parcel-editing {
    display: none;
}